.nav-travel {
    min-height: 86px;
    background-color: transparent;
    border: none;
}
#menubar {
    transition: background 0.4s;
}

.logo {
    text-decoration: none!important;
    font-weight: 500;
} 

.logo h2 {
    color: var(--primary);
    font-family: "Bringin";
}
.logo span {
    color: var(--muted)
}
.travel-menu {
    text-align: center;
}
.bg-white {
    background-color: white;
}

.travel-menu div:last-child{
    float: right;
}
.travel-categories {
    margin-top: 16px;
}
.travel-categories li {
    height: 100%;
    font-weight: 600;
    color: var(--muted);
    margin: 0 10px;
}
.navbar-toggle {
    margin-top: 25px;
}
.travel-categories li:hover {
    color: var(--primary);
    border-bottom: 3px solid var(--primary);
}

.travel-categories li.active {
    background-color: transparent;
    border-bottom: 3px solid var(--primary);
}

.s-header {
    height: 689px;
    width: 100%;
    /* overflow-x: hidden; */
    background-image: url('../images/background\ image\ copy.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: local;
}
.banner-contain {
    margin-top: 90px;
    height: calc(100% - 90px);
}

.call-to-act-block {
    position: relative;
    width: 35%;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 20%;
}

.call-to-act-block h1 {
    color: white;
   
}
.banner p {
    color: var(--light-grey);
}
.banner button {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 80px;
    padding-right: 80px
}

.banner__text div {
    color: var(--info);
    margin-top: -30px;
    font-family: "Bringin";
    font-weight: 300;
}

.s-about {
    background-image: url(../images/global-dot.svg);
    background-attachment: local;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 669px;
    background-color: #f6f4f4;
}

.s-about div.container {
    display: table;
}

.about-garelly {
    display: table-cell;
    width: 60%;
}

.about-us {
    display: table-cell;
    width: 40%;
    vertical-align: middle;
}


.overlay-image-box {
    position: relative;
    top: -100px;
    z-index: 2;
    width: 100%;
    left: 100px;
    /* max-width: calc(100% - 100px); */
}

.overlay-image-box img {
    width: 100%;
    height: 572px;
    object-fit: cover;
    z-index: 3;
}

.overlay-img {
    position: absolute; 
    bottom: -20%;
    left: -10%;
    z-index: 4;
    width: 40%!important;
    height: 40%!important;;
 }

.waves {
    background-image: url('../images/waves\ copy\ 2.svg');
    width: 150px;
    height: 13px;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
}

.s-journal {
    min-height: 1024px;
}

.hor-center {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.journal-diary {
    text-align: center;
}
.journal-showcase {
    display: table;
}

.shrink-journal {
    display: table-cell;
    vertical-align: top;
    width: 66%;
}
.journals {
    margin-top: 70px;
}
.journals .coltb{
    vertical-align: top;
    -webkit-box-shadow: 0px 1px 7px 4px rgba(0,0,0,0.1); 
    box-shadow: 0px 1px 7px 4px rgba(0,0,0,0.1);
}
.journal {
    display: table;
}
.journal__leftside {
    display: table-cell;
    width: 50%;
    background-repeat: no-repeat;
}

.journal__leftside img,
.journal__rightside img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}

.journal__rightside {
    display: table-cell;
    width: 50%;
    vertical-align: middle;
    background-repeat: no-repeat;
}
.verical-journal {
    display: table-cell;
}

.verical-journal .journal div{
    display: block;
    height: 376px;
    width: 100%;
}
.s-order {
    min-height: 650px;
    width: 100%;
    background-image: url('../images//Curves\ 4.png');
    background-size: cover;
    background-position: bottom;
}

.order-contain {
    margin-top: 150px;
}

.order-form {
    display: inline-block;
}
.order-form div {
    background-color: white;
    height: 62px;
    border-radius: 5px;
    padding: 3px
}

.order-form div input {
    width: auto;
    display: inline-block;
    height: 100%;
    border: none;
    box-shadow: none;
}
.order-form div :first-child {
    border-right: 1px solid var(--light-grey);
    border-radius: 0;
}

input.order-form_btn {
    padding-left: 60px;
    padding-right: 60px;
}
.order-form div input:focus {
    box-shadow: none
}
.s-gallery {
    /* min-height: calc(940px - 60px); */
}
.waves-contain {
    text-align: center;
}

.waves-contain .waves{
    display: inline-block;
}

.gallery {
    display: table;
    margin-top: 70px;
}

.gallery > .gallery-col {
    display: table-cell;
    vertical-align: top;
}
.gallery-col div {
    display: block;
    padding: 10px 10px;

}
.gallery-col div img {
    width: 100%;
    height: 100%;
}

.s-our-client {
    background-image: url('../images/Group\ 7\ copy\ 2.png');
    background-position: 100% 248px;
    background-size: 100% 95%;
    min-height: 1234px;
    background-repeat: no-repeat;
    position: relative;
}

.quote-author div:first-child {
    width: 90px;
}

.contact {
    width: 515px;
    text-align: center;
    padding: 29px;
    backdrop-filter: blur(65px) brightness(116%);
    height: 500px;
    border-radius: 8px;
    margin-top: 125px;

}
#contact-from .input-group-lg .form-control {
    width: 100%;
    height: 60px;
    border: none;
    box-shadow: none;
}

.contact_button {
    width: 100%;
    height: 62px;
}
#contact-from {
    margin-top: 40px;
}
.travel-footer {
   background-color: #3e5c65;
   padding: 22px 0; 
}

.couter {
    font-size: 27px;
    color: #7ec6d6;
    font-weight: 700;
}
.travel-footer .rowtb .coltb {
    vertical-align: middle;
}

.social_icon {
    width: 43px;
    height: 43px;
    text-decoration: none;
}
.social_icon:hover {
    text-decoration: none;

}
.social_icon img {
    width: 43px;
    height: 43px;
}
.menu-content {
    width: 80%;
}

.s-social {
    height: 180px;
    width: 100%;
    /* background-color: #f8f9fa; */
    background-color: black
}
.socials {
    text-align: justify;
}
.socials::after {
    content: '';
    display: inline-block;
    width: 100%;
}
.socials a {
    display: inline-block;
    height: 25px;
    margin: 5px;
}
.socials a img {
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 521px) {
    .contact {
        width: 100%;
    }
    .journal > div,
     .verical-journal .journal > div.journal__leftside, 
     .verical-journal .journal > div.journal__rightside {
        display: block;
        width: 100%;
    }
    .journal:nth-child(2) > div.journal__leftside {
        display: table-footer-group;
    }
    .journal:nth-child(2) > div.journal__rightside {
       display: table-header-group;
    } 


}

#call-us {
    color: var(--primary);
    padding: 12px 45px;
    margin-top: 16px;
    border-width: 3px;
}

#call-us:hover {
    color: white;
    background-color: var(--primary);
}

@media only screen and (max-width: 768px) {
    .order-form input.form-control {
        display: table-row;
        box-sizing: content-box;
    }
    .order-form div :first-child {
        border: none;
    }
    .order-form div input[type="submit"] {
        width: 100%;
        height: 64px;
    }
    #bs-example-navbar-collapse-1{
        background-color: white;
        max-height: 300px
    }
    #call-us {
        display: inline-block; 
        width: 100%;
        margin-bottom: 12px;  
    }
    .menu-content {
        width: 100%;
    }
}


@media only screen and (max-width: 992px) {
    .d-mb-block {
        display: block;
    }
    
    .journals .coltb {
        width: 100%;
    } 
    .client-say .coltb {
        display: block;
        width: 100%;
    }
    .banner {
        /* width: 100%; */
        width: unset;
        margin-left: 16px;
    }

    .s-about .container div {
        width: 100%;
    }
    .s-about div.container {
        display: block;
    }
    .about-garelly {
        display: block;
    }
    .verical-journal {
        display: block;
    }
    
    .verical-journal .journal div{
        display: block;
        height: 376px;
        width: 50%;
        display: table-cell;
    }
    .order-form div {
        display: table;
    }
    .overlay-image-box {
        top: 0px;
        left: 0;
        display: block;
        position: unset;
    }
    .overlay-image-box img {
        position: unset;
        width: 100%;
        height: 100%;
    }
    .overlay-img {
        position: relative;
        width: 100%;
        height: 100%;
    }
}

@media only screen and (max-width: 1500px) {
    .overlay-image-box {
        width: calc(100% - 100px);
    }
}